@font-face{
    font-family: 'Bellota-LightItalic';
    src: url('../assets/fonts/Bellota-LightItalic.otf');
}
@font-face{
    font-family: 'Bellota-BoldItalic';
    src: url('../assets/fonts/Bellota-LightItalic.otf');
}
form{
    text-align: center;
}
body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #3498db;
}
html, body{
    height: 100%;
    min-height: 100%;
}
.wrapper{
    background: url("../images/background/desktop.jpg");
    background-size: 100%;
    width: 100%;
    height: 100%;
    min-width: 950px;
}
.login_header{
    font-family: 'Bellota-BoldItalic', sans-serif;
    width: 100%;
    height: 90px;
    background-color: #3498db;  
    color: #fff;
    text-align: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.login_header h1{
    font-family: 'Bellota-LightItalic', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: #2c6c96;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
}
.login_box{
    font-family: 'Bellota-LightItalic', sans-serif;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 4%;
    width: 35%;
    background-color: #ffffff;
    border: 1px solid #EDEDED;
    border-radius: 7px;
    padding: 5px;
    opacity: 0.90;
}
input[type="submit"]{
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 3px;
    margin: 3px 0 10px 3px 10px;
    color: #2c6c96;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
    font-family: 'Bellota-LightItalic', sans-serif;
    font-size: 100%;
}
input[type="text"], input[type="email"], input[type="password"]{
    border: 1px solid #e5e5e5;
    margin-top: 3px;
    width: 70%;
    height: 30px;
    margin-bottom: 10px;
    padding-left: 5px;
}
select{
    border: 1px solid #e5e5e5;
    margin-top: 5px;
    width: 20%;
    height: 35px;
    margin-bottom: 10px;
    padding-left: 5px;
}
select:hover{
    border-color: #3498db;
}
input[type="text"]:hover, input[type="email"]:hover, input[type="password"]:hover{
    border-color: #3498db;
}

 input[type="email"]:hover{
    border-color: black;
 }