@font-face{
    font-family: 'Bellota-LightItalic';
    src: url('../assets/fonts/Bellota-LightItalic.otf');
}
@font-face{
    font-family: 'Bellota-BoldItalic';
    src: url('../assets/fonts/Bellota-LightItalic.otf');
}
form{
    
}
body{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
}
html, body{
    height: 100%;
    min-height: 100%;
}
.wrapper{
    background: url("../images/background/desktop.jpg");
    background-size: 100%;
    width: 100%;
    height: 90%;
    min-width: 950px;
    text-align: center;
}
.login_header{
    font-family: 'Bellota-BoldItalic', sans-serif;
    width: 100%;
    height: 111px;
    background-color: #3498db;  
    color: #fff;
    text-align: center;
    border-top-right-radius: 7px;
    border-top-left-radius: 7px;
}
.login_header h1{
    font-family: 'Bellota-LightItalic', sans-serif;
    margin-top: 0;
    margin-bottom: 0;
    color: #2c6c96;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
}
.login_box{
    font-family: 'Bellota-LightItalic', sans-serif;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    top: 4%;
    width: 35%;
    background-color: lightblue;
    border: 1px solid #EDEDED;
    border-radius: 7px;
    padding: 5px;
    opacity: 0.90;
}

#first {
    top: 20px;
    margin: 10px auto;
    background-color: #eae9ef;
    height: 28%;
}
select:hover{
    border-color: #3498db;
}
.option{
    margin-bottom: 60px;
}
.acc{
    padding-right: 10px;
    margin: 10px 5px;

}
input[type="submit"]{
    background-color: #3498db;
    border: 1px solid #3498db;
    border-radius: 3px;
    margin: 3px 0 10px 3px 10px;
    color: #032940;
    width: 110px;
    height: 35px;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
    font-family: 'Bellota-LightItalic', sans-serif;
    font-size: 100%;
}
select{
    width: 110px;
    height: 35px;
}
.q2{
    padding-right: 220px;
    margin: 10px 5px;
}
a:hover{
      color: #0c1921;
}